body {
    background-image: url("asset/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
/* Memberikan warna pada background navbar */
.navbar {
    background-color: #fe0303;
  }
  
  .navbar-brand, .nav-link {
    font-weight: bold;
    font-size: 24px;
  }
  
  .nav-item a.nav-link {
    font-weight: bold;
  }
  
  .nav-item .border {
    border-bottom: 10px solid #ffffff;
      }
      
  /* Memberikan warna pada background card */
  .card {
    background-color: #ededed;
    width: 100%;
  }
  
  /* Memberikan warna pada background list-group */
  .list-group {
    background-color: #ffffff56;
    border: 1px solid #ffffff;
    font-weight: bold;
    width: 250px;
  }
  
  .list-group-item {
    color: white;
  }
  
  
  /* Memberikan warna pada background button */
  .btn {
    background-color: #fe0303;
  }
  
  /* Memberikan warna pada background footer */
  footer {
    background-color: #343a40;
    color: #ffffff;
  }
  